.button {
	position: absolute;
	width: 280px;
	height: 64px;
	background: $second-color;
	border-radius: 70px;
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
	text-transform: uppercase;
	color: $title-color;
}
// .button__main {
// }
